/* language: lang-none */
/* @import url('https://fonts.googleapis.com/css2?family=Abel:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */

:root {
  font-family: Abel, system-ui, Source Sans Pro, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.abel-thin {
  font-family: 'Abel', sans-serif;
  font-weight: 100;
  font-style: normal;
}

.abel-extralight {
  font-family: 'Abel', sans-serif;
  font-weight: 200;
  font-style: normal;
}

.abel-light {
  font-family: 'Abel', sans-serif;
  font-weight: 300;
  font-style: normal;
}

.abel-regular {
  font-family: 'Abel', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.abel-medium {
  font-family: 'Abel', sans-serif;
  font-weight: 500;
  font-style: normal;
}

.abel-semibold {
  font-family: 'Abel', sans-serif;
  font-weight: 600;
  font-style: normal;
}

.abel-bold {
  font-family: 'Abel', sans-serif;
  font-weight: 700;
  font-style: normal;
}

.abel-extrabold {
  font-family: 'Abel', sans-serif;
  font-weight: 800;
  font-style: normal;
}

.abel-black {
  font-family: 'Abel', sans-serif;
  font-weight: 900;
  font-style: normal;
}

.abel-thin-italic {
  font-family: 'Abel', sans-serif;
  font-weight: 100;
  font-style: italic;
}

.abel-extralight-italic {
  font-family: 'Abel', sans-serif;
  font-weight: 200;
  font-style: italic;
}

.abel-light-italic {
  font-family: 'Abel', sans-serif;
  font-weight: 300;
  font-style: italic;
}

.abel-regular-italic {
  font-family: 'Abel', sans-serif;
  font-weight: 400;
  font-style: italic;
}

.abel-medium-italic {
  font-family: 'Abel', sans-serif;
  font-weight: 500;
  font-style: italic;
}

.abel-semibold-italic {
  font-family: 'Abel', sans-serif;
  font-weight: 600;
  font-style: italic;
}

.source-bold-italic {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  font-style: italic;
}

.source-extrabold-italic {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 800;
  font-style: italic;
}

.source-black-italic {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
  font-style: italic;
}
